.gsbutton {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: 1px solid silver;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  .gsbutton:hover {
    background-color: rgb(141 152 83);
    transform: scale(1.05); /* Popping effect */
    border: 1px solid black;
  }
  